@charset "UTF-8";
body{
	background-color: #EEEFF1;
	font-size: 6px;
	margin-top: 0;
}
*{
	font-family: "微软雅黑";
}
/*··········头部········*/
header{
	width: 100%;
	text-align:center;
	line-height: 5em;
	background-color: #89D3DE;
	color: white;
	font-size: 1.6em;
	position: relative;
}
h1{
	font-weight: normal;
}
#backimg{
	width: 2.1875em;
	position: absolute;
	left: 1.175em;
	top: 1.875em;
	transform: rotateZ(90deg);
}
/*············正文···········*/
#sec1{
	box-sizing: border-box;
	width: 100%;
	margin-top: 4%;
	position: relative;
	background-color:#FFFFFF;
	font-size: 3em;
}
#sec1 div{
	width: 100%;
	height: 3em;
	line-height: 3em;
	border-bottom: 0.2em solid #EEEFF1;
	position: relative;
}
#sec1 div img{
	margin-top: 0.5em;
	margin-left: 5%;
	width: 1em;
	color: #666666;
}
#sec1 input:nth-of-type(1){
	width: 55%;
	position: absolute;
	left: 15%;
	height: 2.5em;
	font-size:0.8em;
	border:none;
	outline:none;
	top: 15%;
}
#sec1 div:nth-of-type(3) input:nth-of-type(1){
	width: 80%;
}
#sec1 div:nth-of-type(4) input:nth-of-type(1){
	width: 80%;
}
#number1{
	width: 30%;
	height: 70%;
	position: absolute;
	right: 4%;
	top: 15%;
	background-color: #11A8BB;
	color: white;
	font-size: 0.8em;
	border:none;
	outline:none;
	border-radius: 0.5em;
}
#btn1{
	width: 90%;
	height: 2.7em;
	background-color: #11A8BB;
	color: white;
	font-size: 3em;
	border:none;
	outline:none;
	border-radius: 0.5em;
	margin-top: 1em;
	margin-left: 5%;
	margin-bottom: 3%;
}
#new{
	color: red;
	font-size: 2em;
	margin-left: 5%;
}
#lost{
	color: red;
	font-size: 2em;
	margin-left: 55%;
}
#next{
	width: 5em;
	position: absolute;
	right: 2%;
	top: 0.2em;
	color: white;
	font-size:1.4em;
}